{% extends "base.html" %}
{% load i18n compress static mf_extras widget_tweaks %}

{% block title %}{% trans "Profile" %} - {% site_name %}{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/profile.scss' %}" type="text/x-scss">

{% endblock %}
{% block content %}
  <div class="mt-3 row">
    <div class="col-sm-12">
      <h1>Hello, {{ request.user.username }}</h1>
      <h2 class="settings-title">Settings
        <small class="text-secondary">{{ user.email }}</small></h2>
    </div>
    {% if messages %}
      <div class="col-sm-12">
        {% for message in messages %}
          <p class="alert alert-{{ message.tags }}">{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
    {% if owner == False %}
      <div class="col-sm-12">
        <p class="alert alert-danger">You are not profile owner, read only mode</p>
      </div>
    {% endif %}
  </div>
  <div class="mt-3 row">
    <div class="col-sm-3">
      <ul class="nav nav-pills">
        <li class="active"><a href="{% url 'profile' user.get_username %}" class="nav-link">Account</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-md-6">
      <div class="card">
        <div class="card-body settings-block">
          <form method="post">
            {% csrf_token %}
            <h3 class="card-title">Personal Detail</h3>
            <p class="mt-3">
              Your username name is
              <code class="mx-2">{{ user.username }}</code>
              {% if owner %}
                <button type="submit" name="change_username" class="btn btn-sm btn-light btn-outline-dark float-right">Change Username</button>
              {% endif %}
            </p>
            <p class="mt-3">
              Your nickname name is
              <code class="mx-2">{{ user.nickname }}</code>
              {% if owner %}
                <button type="submit" name="change_nickname" class="btn btn-sm btn-light btn-outline-dark float-right">Change Nickname</button>
              {% endif %}
            </p>
            <p class="mt-3">
              Your bio is
              <code class="mx-2">{{ user.profile.bio }}</code>
              {% if owner %}
                <button type="submit" name="set_bio" class="btn btn-sm btn-light btn-outline-dark float-right">Set bio</button>
              {% endif %}
            </p>
          </form>
        </div>
      </div>
      {% if owner %}
        <div class="card mt-3">
          <div class="card-body settings-block">
            <form method="post">
              {% csrf_token %}
              <h3 class="card-title">Email and Password</h3>
              <p class="mt-3">
                Your account's email address is
                <code class="mx-2">{{ user.email }}</code>
                <button type="submit" name="change_email" class="btn btn-sm btn-light btn-outline-dark float-right">Change Email</button>
              </p>
              <p class="mt-3">
                Change your password
                <button type="submit" name="change_password" class="btn btn-sm btn-light btn-outline-dark float-right">Change</button>
              </p>
            </form>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
