{% extends "base.html" %}
{% load i18n compress static mf_extras widget_tweaks %}
{% block title %}{% trans "Signup" %} - {% site_name %}{% endblock %}

{% block content %}
<div class="signup-form">
  <form method="post" action="{% url 'signup' %}">{% csrf_token %}
    <div class="text-center">
      <h2>{% trans "Sign Up" %}</h2>
      <p>
        {% url 'login' as login %}
        {% blocktrans %}
          Have an account? please <a href="{{ login }}">sign in</a>
        {% endblocktrans %}
      </p>
    </div>
    {% for item in form %}
      <div class="form-group">
        <label for="id_{{ item.name }}">{{ item.label }}</label>
        {% render_field item class+="form-control" %}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-success btn-block">
      {% trans "Sign Up" %} &raquo;
    </button>
  </form>
</div>
{% endblock %}
