{% extends "base.html" %}
{% load i18n compress mf_extras static %}
{% block content %}
<div class="container">

  <div class="row justify-content-center">
    <h1>{{ object.name }}</h1>
  </div>
  <div class="row justify-content-center">
    <div class="boardtable">
      <table>
        <tr>
          <th>Task</th>
          <th>Status</th>
          <th width="60%">Workers</th>
        </tr>
        {% for task in tasks %}
        <tr>
          <td>{{ task.text }}</td>
          <td>{% if task.complete == True %}Completed{% else %}imCompleted{% endif %}</td>
          <td>{{ task.assigned_to }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="row mt-5 justify-content-center">
    <p class="float-right">Board is created by {{ object.admin.username }}</p>
    <a href="/{{ object.admin.username }}/{{ object.id }}/task/create">Add Task</a>
  </div>
</div>

{% endblock %}