{% extends "base.html" %}
{% load i18n compress mf_extras static %}
{% block content %}
    <h1>{{ object.name}}</h1>
        <ul>
		{% for task in tasks %}
			{% if task.complete == True %}
                <li><input type="checkbox", value="clicked", name="{{ task.id }}" checked>{{ task.text }} is assigned to {{ task.assigned_to }}</li>
                {% else %}
                    <li><input type="checkbox", value="clicked", name="{{ task.id }}" >{{ task.text }} is assigned to {{ task.assigned_to }}</li>
                {% endif %}
		{% endfor %}
	</ul>
    <a href="/{{object.admin.username }}/task/create">Add Task</a>
    <p>Board is created by {{object.admin.username  }}</p>
{% endblock %}