{% extends "base.html" %}
{% load compress mf_extras static %}

{% block content %}
<div class="container">
<div class="row justify-content-center">
  <div class="boardtable">
    <table>
      <tr>
        <th>Task</th>
        <th>Status</th>
        <th width="60%">Workers</th>
      </tr>
      <tr>
        <td>Writting Script</td>
        <td>Completed</td>
        <td>sam / john</td>
      </tr>
      <tr>
        <td>Filming</td>
        <td>in progress</td>
        <td>Jhon / Amy</td>
      </tr>
      <tr>
        <td>Editting</td>
        <td>Waiting</td>
        <td></td>
      </tr>
    </table>
  </div>

  <div class="boardtable">
    <table>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th width="60%">Roles</th>
      </tr>


      <tr>
        <td>Sam</td>
        <td>Free</td>
        <td>Script Writer / Editor</td>
      </tr>
      <tr>
        <td>John</td>
        <td>Working</td>
        <td>Script Writer / Director / Editor</td>
      </tr>
      <tr>
        <td>Amyl</td>
        <td>Working</td>
        <td>Director</td>
      </tr>
      <tr>
        <td>Greta</td>
        <td>Away</td>
        <td>Editor</td>
      </tr>

    </table>
  </div>
</div>
</div>
{% endblock %}LoginLogin