- extends "base.html"
- load i18n compress static mf_extras widget_tweaks

{% block title %}Board - {% site_name %}{% endblock %}

- block extra_css
  %link(rel="stylesheet" href="{% static 'css/float-label.scss' %}" type="text/x-scss")

- block content
  .mt-3
    %form.form-float.mt-3(id="create" method="post" action="/{{ user.get_username }}/boards/create/")
      - csrf_token
      %h1.text-center Add a Board
      - if form.non_field_errors
        <p class="text-danger">{{ form.non_field_errors|join:"" }}</p>
      - for item in form
        .form-label-group
          - render_field item class+="form-control"
          %label(for="id_#{item.name}")<
            = item.label
      %button.mt-3.btn.btn-sm.btn-primary.btn-block(type="submit")
        - trans "Create a Board"
