{% extends "base.html" %}
{% load i18n compress static mf_extras widget_tweaks %}

{% block title %}Board - {% site_name %}{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/float-label.scss' %}" type="text/x-scss">

{% endblock %}
{% block content %}
  <div class="mt-3">
    <form method="post" action="/{{ user.get_username }}/boards/create/" class="form-float mt-3" id="create">
      {% csrf_token %}
      <h1 class="text-center">Add a Board</h1>
      {% if form.non_field_errors %}
        <p class="text-danger">{{ form.non_field_errors|join:"" }}</p>
      {% endif %}
      {% for item in form %}
        <div class="form-label-group">
          {% render_field item class+="form-control" %}
          <label for="id_{{ item.name }}">{{ item.label }}</label>
        </div>
      {% endfor %}
      <button type="submit" class="mt-3 btn btn-sm btn-primary btn-block">
        {% trans "Create a Board" %}
      </button>
    </form>
  </div>
{% endblock %}
