{% extends "base.html" %}
{% load compress mf_extras static %}

{% block content %}
<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-auto">
      <h1>Make Managing Simple</h1>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-6 col-md-3 border-right">
      <div class="p-3">
        <h2>Updates</h2>
        <p>sometext sometext sometext sometext sometext sometext sometext sometext sometext sometext sometext sometext
        </p>
        <p><a href="#" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
      </div>
    </div>
    <div class="col-6 col-md-3">
      <div class="p-3">
        <h2>Updates</h2>
        <p>sometext sometext sometext sometext sometext sometext sometext sometext sometext sometext sometext sometext
        </p>
        <p><a href="#" target="_blank" class="btn btn-success">Learn More &raquo;</a></p>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <img src="{% static 'img/front.jpg' %}" class="mt-3 img-fluid" alt="Responsive image">
    </div>
  </div>
</div>
{% endblock %}LoginLogin