- extends "base.html"
- load mf_extras

{% block title %}Docs - {% site_name %}{% endblock %}

- block content
  .row.mt-3
    .col-sm-12.ml-sm-2.mr-sm-2
      %h3 About
      %p<
        Create By
        %br
        %a(href="https://github.com/jitingcn/") Jiting
        %br
        %a(href="https://github.com/RogueTea") RogueTea
        %br
        %a(href="https://github.com/M-Anas-Syed") M-Anas-Syed
        %br
        %a(href="https://github.com/liantianfeng") liantianfeng
      %hr
      %h3 Open Source
      %a(href="https://github.com/jitingcn/manageflow" ) Repo

- block footer