{% extends "base.html" %}
{% load mf_extras %}

{% block title %}Docs - {% site_name %}{% endblock %}

{% block content %}
  <div class="row mt-3">
    <div class="col-sm-12 ml-sm-2 mr-sm-2">
      <h3>About</h3>
      <p>Create By
        <br>
        <a href="https://github.com/jitingcn/">Jiting</a>
        <br>
        <a href="https://github.com/RogueTea">RogueTea</a>
        <br>
        <a href="https://github.com/M-Anas-Syed">M-Anas-Syed</a>
        <br>
        <a href="https://github.com/liantianfeng">liantianfeng</a></p>
      <hr>
      <h3>Open Source</h3>
      <a href="https://github.com/jitingcn/manageflow">Repo</a>

    </div>
  </div>
{% endblock %}
{% block footer %}
{% endblock %}
