{% load static %}
{% load i18n compress static mf_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% site_name %} - Manage Your group work flow{% endblock %}</title>

  <!-- Bootstrap CSS file -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
  <div class="container">
    <a href="{% url 'mf-index' %}" class="navbar-brand mr-3">
      {% if request.user.is_authenticated %}
        {% trans "authenticated" %}
      {% else %}
        {% site_name %}
      {% endif %}
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a href="#" class="nav-link">Project</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Link1</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Link2</a>
          </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if not request.user.is_authenticated %}
          <li class="nav-item ml-sm-2"></li>
          <a href="{% url 'mf-about' %}" class="nav-link">{% trans "About" %}</a>
        {% endif %}
        <li class="nav-item ml-sm-2">
          <a href="{% url 'mf-docs' %}" class="nav-link">{% trans "Docs" %}</a>
        </li>
        {% if request.user.is_authenticated %}
          <li class="nav-item dropdown">
            <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle" id="navbar_dropdown">
              {{ user.get_username }}
            </a>
            <div aria-labelledby="navbar_dropdown" class="dropdown-menu dropdown-menu-right">
              {% if request.user.is_superuser %}
                <a href="{% url 'admin:index' %}" class="dropdown-item">{% trans "Site Administration" %}</a>
                <div class="dropdown-divider"></div>
              {% endif %}
              <div class="dropdown-header">Teams</div>
              <div class="dropdown-divider"></div>
              <a href="{% url 'mf-index' %}" class="dropdown-item">{% trans "Account Settings" %}</a>
              <a href="{% url 'logout' %}" class="dropdown-item">{% trans "Log Out" %}</a>
            </div>
          </li>
          {% elif page != "login" %}
            <li class="nav-item ml-sm-2">
              <a href="{% url 'login' %}" class="nav-link my-2 my-sm-0">{% trans "Login" %}</a>
            </li>
        {% else %}
          {% if registration_open %}
            <li class="nav-item ml-sm-2">
              <a href="{% url 'signup' %}" class="nav-link btn btn-outline-success my-2 my-sm-0">{% trans "Sign Up" %}</a>
            </li>
          {% endif %}
        {% endif %}
      </ul>
    </div>
  </div>
  </nav>
  <main>

  {% block containers %}
    {% block content %}
      {% block main %}
   
      {% endblock %}
    {% endblock %}
  {% endblock %}

  </main>
  <footer>
    <div class="container">
      <hr>
      <div class="row">
        <div class="col-md-6">
          <p>Copyright © 2020 Team D </p>
        </div>
        <div class="col-md-6 text-md-right">
          {% if request.user.is_authenticated %}
              <a href="{% url 'mf-about' %}">{% trans "About" %}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </footer>
  <!-- JS files: jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>